<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <h1 id="title">financectrl</h1>
    <div>
        <h2>Expense dashboard</h2>
        <h2 th:text="'R$ ' + ${sum}"></h2>
        <p th:text="'R$ ' + ${monthsum} + ' this month'"></p>
        <form id="changeMonth">
            <label for="monthInput">Change month</label>
            <input type="month" name="month" id="monthInput">
            <button type="submit">Submit</button>
        </form>
        <button id="clearMonth" onclick="clearMonthButton()">Clear</button>
    </div>
    <div>
        <table id="getTable">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="getTableBody">
            </tbody>
        </table>
    </div>
    <div>
        <h3>ADD/UPDATE/DELETE Expense</h3>
        <form id="expenseOp">
            <input type="text" name="descrForm" id="descrExp" required>
            <input type="number" name="valueForm" id="valueExp" step="0.01" required>
            <input type="date" name="dateForm" id="dateExp" required>
            <input type="hidden" name="userIdForm" id="userId" th:value="${userId}">
            <input type="hidden" name="idForm" id="idExp" value="">
            <button type="submit">Save</button>
        </form>
        <button id="clearIdForm" onclick="resetForm()">Clear</button>
    </div>
    <div>
        <h3>Download table as CSV file</h3>
        <a th:href="@{/financectrl/expense/download/{id}(id=${userId})}" download="expense.csv">
            <button type="button">Download</button>
        </a>
    </div>
    <script th:inline="javascript">
        const currUID = /*[[${userId}]]*/ 'user-id'
    </script>
    <script src="/js/api.js"></script>
    <script src="/js/ui.js"></script>
</body>
</html>