<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>financectrl - Home</title>
    <style></style>
</head>
<body>
    <div>
        <h1>Welcome to financectrl!</h1>
        <h2>WARNING: please note that this website does not have a proper authentication system. Do not use any personal information.</h2>
        <form action="#" th:action="@{/user/create}" method="post">
            <label>Username:</label>
                <input type="text" placeholder="username" name="name" th:value="${nameVar}" >
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>